#account-layout {
    background: var(--color-gray-000);

    .container {
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 100px;
        padding-bottom: 70px;
        background: var(--color-gray-000);

        aside {
            padding-top: 40px;
            border-right: 1px solid var(--color-gray-300);
            padding-right: 20px;
            background: var(--color-gray-000);

            nav {
                margin-top: 50px;
                text-align: left;

                a {
                    margin: 10px 0;
                    text-align: left;
                    justify-content: flex-start;
                }

                .btn-theme-s {
                    text-align: left;
                    justify-content: flex-start;
                }
            }
        }
    }
}
