



#account-security {
    background: var(--color-gray-000);

    .basic-info-security {

        form {
            padding: 1rem;

            h5 {
                color: var(--color-theme);
            }

            .content {
                display: grid;
                gap: 1rem 2rem;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "current-password ." "new-password confirm-password" "buttons buttons";


                #form-current-password {
                    grid-area: current-password;
                }

                #form-new-password {
                    grid-area: new-password;
                }

                #form-confirm-password {
                    grid-area: confirm-password;
                }

                #form-bio {
                    grid-area: bio;

                    span {
                        color: var(--color-gray-500);
                        font-weight: 400;
                    }
                }

                .form-buttons {
                    grid-area: buttons;
                    margin: 20px 0;
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }
}

