#newsletter {
    background-color: $gray-100;
    padding-top: 40px;
    padding-bottom: 40px;

    @include lg {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .container {
        display: flex;
        flex-direction: column;

        @include lg {
            padding-left: 20px;
        }

        @include xl {
            padding-left: 130px;
            padding-right: 130px;
        }

        @include xxl {
            padding-left: 180px;
            padding-right: 180px;
        }

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            @include xl {
                align-items: start;
                justify-content: start;
                text-align: start;
                margin-bottom: 10px;
            }


            h1 {
                @include h3;

                @include md {
                    @include h2;
                }

                @include xl {
                    @include h1;
                }
            }

            img {
                display: none;

                @include md {
                    display: block;
                    margin-left: 10px;
                }
            }
        }

        form {


            .input {
                margin-bottom: 170px;

                @include md {
                    margin-bottom: 50px;
                }

                @include xl {
                    display: flex;
                    margin-bottom: 20px;
                }

                p {
                    text-align: center;
                    margin-top: 10px;
                    @include h6;

                    @include xl {
                        margin-top: 20px;
                        text-align: start;
                        margin-right: -40px;
                    }
                }


                .checkbox-group {
                    margin-bottom: 20px;
                    margin-left: 110px;
                    @include text-s;

                    @include md {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                    }





                    .checkbox {
                        margin-bottom: 10px;

                        @include lg {
                            margin-bottom: 0.5rem;
                            margin-right: 4rem;
                            display: flex;
                        }

                        @include xl {
                            margin-top: 10px;
                            margin-bottom: 0.5rem;
                            margin-right: 3rem;
                        }


                        input[type="checkbox"] {
                            margin-right: 0.7rem;
                            height: 18px;
                            width: 18px;
                        }

                        label {
                        }
                    }
                }
            }

            .email-group {
                position: relative;
                display: flex;
                flex-direction: column;

                @include xl {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                    margin-top: 30px;
                    margin-bottom: 5px;
                }

                @include xxl {
                    margin-top: 0px;
                }

                label {
                    position: absolute;
                    top: 16px;
                    left: 14px;

                    @include xl {
                        position: absolute;
                        top: 8px;
                        left: 20px;
                    }
                }

                input {
                    padding-left: 40px;
                    margin-bottom: 13px;

                    @include xl {
                        margin-left: -15px;
                        padding-left: 50px;
                        width: 100%;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
