.showcase {
    position: relative;
    margin-bottom: 80px;

    @include lg {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 150px;
    }

    .background-image {
        display: none;
        position: absolute;
        z-index: -1;
        width: 100%;

        @include lg {
            display: block;
            width: 45%;
        }
    }

    .container {
        height: 100%;

        @include lg {
            position: relative;
            left: 0;
            right: 0;
        }

        .content {
            margin-top: 0px;
            width: 100%;
            text-align: center;

            @include lg {
                margin-top: 100px;
                width: 40%;
                text-align: left;
            }

            h1 {
                @include h2;

                @include lg {
                    @include d4;
                }

                @include md {
                    @include d5;
                }
            }

            p {
                margin: 20px 0 40px 0;
                @include text-m;

                @include lg {
                    margin: 40px 0 50px 0;
                    @include text-lg;
                }
            }

            .btn-theme-s {
                display: inline-block;
            }

            h6 {
                margin: 150px 0 30px 0;
                display: none;

                @include lg {
                    margin: 100px 0 30px 0;
                    display: flex;
                }
            }

            .brands {
                display: none;
                gap: 30px;

                @include lg {
                    display: flex;
                }

                .logos {
                    width: 120px;
                }
            }
        }
    }
}
